{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.12"}
        com.datomic/local {:mvn/version "1.0.277"}
        org.mindrot/jbcrypt {:mvn/version "0.4"}}
 :aliases {:run {:main-opts ["-m" "clojure-datomic-login.core"]}}}
